.header{
    background-color: #0c4433;
    .logo{
        display: flex;
        float: left;
        padding: 10px 40px 10px 40px;
        margin: 20px 30px 20px 30px;
        border: solid 3px green;
        color: white;
    }
    .navbar{
        display: flex;
        float: right;
        padding-right: 20px;
        .navbar-links{
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            li{
                float: left;
                a{
                    display: block;
                    color: white;
                    text-align: center;
                    padding: 10px 40px 10px 40px;
                    margin: 20px 30px 20px 30px;
                    border: solid 3px green;
                    text-decoration: none;
                    &:hover{
                        background-color: red;
                    }
                }
            }
        }
    }
}
