.hero-banner{
    height: 92.75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .title{
        height: 40%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: $colour-red-main;
        h1{
            font-size: 3em;
            margin-bottom: 1em;
        }
    }
}

.projects-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        font-size: 3em;
        color: $colour-red-main;
    }
    h3{
        margin-bottom: 50px;
    }
    .projects{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-gap: 2vw 2vw;
    }
}

.clients-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        font-size: 3em;
        color: $colour-red-main;
    }
    h3{
        margin-bottom: 50px;
        color: $colour-red-main;
    }
}

.about-me-section{
    height: 500px;
    display: flex;
    justify-content: center;
    .title{
        height: 40%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: $colour-red-main;
        h1{
            font-size: 3em;
            margin-bottom: 1em;
        }
    }
}

.contact-section{
    height: 500px;
    display: flex;
    justify-content: center;
    .title{
        height: 40%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: $colour-red-main;
        h1{
            font-size: 3em;
            margin-bottom: 1em;
        }
    }
}