.header {
  display: flex;
  background-color: #0c4433;
  height: 50px;
  border-bottom: solid 3px green;
}

.header .logo {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  color: white;
}

.header .filler {
  display: flex;
  flex: 1;
}

.header .navbar {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header .navbar li a {
  display: flex;
  color: white;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 0px 35px 0px 35px;
  text-decoration: none;
}

.header .navbar li a:hover {
  text-decoration: underline;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #152722;
}

