.header {
  display: flex;
  height: 7vh;
  background-color: #0c4433;
  border-bottom: solid 0.25vh green;
}

.header .logo {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  color: white;
}

.header .filler {
  display: flex;
  flex: 1;
}

.header .navbar {
  display: flex;
  flex: 1;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
  list-style-type: none;
}

.header .navbar li a {
  display: flex;
  height: 100%;
  padding: 0px 35px 0px 35px;
  align-items: center;
  text-align: center;
  color: white;
  text-decoration: none;
}

.header .navbar li a:hover {
  text-decoration: underline;
}

.hero-banner {
  background-color: #152722;
  height: 92.75vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-banner .title {
  padding: 7% 20% 7% 20%;
  border: solid 0.25vh green;
  text-align: center;
  color: white;
  font-size: xx-large;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #152722;
}

